
.features {
  position: relative;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto 50px;
}

.features__title {
  text-align: left;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #111827;
  margin: 0 0 45px 90px;
}

.features__content {
  width: 100%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 260px 1fr;
  grid-template-rows: minmax(250px, 400px) 1fr;
}

.features__vue-block {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 535px;
  max-height: 300px;
}

.features__vue-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111827;
  text-align: left;
  margin: 0 0 25px;
}

.features__vue-image {
  max-width: 270px;
  max-height: 150px;
}

.features__stack-code {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: left;
}

.features__stack {
}

.features__stack-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111827;
  margin: 0 0 15px;
}

.features__stack-image {
  object-fit: cover;
  width: 100%;
  max-height: 205px;
  margin-bottom: 10px;
}

.features__code {
}

.features__code-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111827;
  margin: 0 0 15px;
}

.features__code-image {
  object-fit: cover;
  width: 100%;
}


.features__love {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-width: 535px;
}

.features__love-text {
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111827;
  margin: 0 0 20px;
}

.features__love-link {

}

.features__love-logo {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

.features__design {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-width: 530px;
  text-align: left;
}

.features__design-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #111827;
  margin: 0 0 15px;
}

.features__design-image {
  width: 100%;
}

.features__photo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  z-index: 5;
  background-image: url(../images/features_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-self: flex-end;
  max-width: 220px;
  height: 220px;
  margin-bottom: 20px;
}

.features__arrows {
  position: absolute;
  top: -170px;
  left: -150px;
}

@media screen and (max-width: 1400px) {
  .features {
    max-width: calc(100% - 25px * 2);
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 1200px) {
  .features__love-logo {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .features__love-logo {
    margin-right: 150px;
    margin-top: 50px;
  }

  .features__photo {
    margin-bottom: -50px;
}

.features__love {
  margin-top: 0;
}
}

/*Mobile block*/
.features_mobile_type {
    max-width: calc(100% - 20px * 2);
    display: none;
    margin: 0 auto 50px;
    position: relative;
    z-index: 10;
}

.features__vue-text_mobile_type {
  margin: 0 0 15px;
}

.features__love-text_mobile_type {
  margin: 0 0 15px;
}

.features__stack-title_mobile_type {
  margin: 0 0 15px;
}

.features__code-title_mobile_type {
  margin: 0 0 15px;
}

.horizontal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.horizontal-content.reversed {
  flex-direction: row-reverse;
}

.horizontal-content img {
  max-width: 300px;
}

.horizontal-content .lf-logo {
  max-width: 200px;
}

.right-text {
  text-align: left;
  padding-right: 20px;
}

@media only screen and (max-width: 800px) {
  .features {
    display: none;
  }

  .features_mobile_type {
    display: block;
    margin: 0 auto 50px;
    position: relative;
    z-index: 10;
}
    .horizontal-content {
      flex-direction: column;
    }
  
    .horizontal-content.reversed {
      flex-direction: column;
    }
  
    .right-text {
      text-align: center;
      margin-bottom: 20px;
    }
  }