.frameworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto 50px;
}

@media screen and (max-width: 690px) {
  .frameworks {
    display: flex;
    justify-content: center;
}
}

.frameworks__title {
    max-width: 1120px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #111827;
    margin: 0 auto 60px;
}

@media screen and (max-width: 690px) {
  .frameworks__title {
    text-align: center;
}
}

@media screen and (max-width: 425px) {
  .frameworks__title {
    font-size: 25px;
    line-height: 1;
}
}

.frameworks__content {
  width: 100%;
}

.frameworks__subsection-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #111827;
    margin: 0 0 60px;
}

@media screen and (max-width: 425px) {
  .frameworks__subsection-title {
    font-size: 25px;
    line-height: 1;
}
}

.framework-list {
    max-width: 900px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 690px) {
    .framework-list {
      max-width: calc(100% - 10px * 2);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
    }
  }

  @media screen and (max-width: 370px) {
    .framework-list {
      max-width: calc(100% - 10px * 2);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
    }
  }

  @media screen and (max-width: 285px) {
    .framework-list {
      max-width: calc(100% - 10px * 2);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      justify-items: center;
    }
  }
  
  .framework {
    display: flex;
    flex-direction: column;
    width: 100px;
    font-weight: bold;
  }
  
  .framework__image {
    flex-grow: 1;
    width: 100px;
    margin-bottom: 20px;
  }

  .framework__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
    margin: 0;
  }

  .frameworks__extend-block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 60px 110px;
    box-sizing: border-box;
    background-image: url(../images/dot_background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (max-width: 1080px) {
    .frameworks__extend-block {
      padding: 60px 50px;
    }
  }

  @media screen and (max-width: 690px) {
    .frameworks__extend-block {
      display: none;
    }
  }

  .frameworks__extend-block-list {
    width: 200px;
    max-width: 200px;
    margin-right: 20px;
  }

  .frameworks__extend-list {
    list-style-type: none;
    padding: 0;
  }

  .frameworks__extend-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #111827;
    margin: 0 0 40px;
  }

  @media screen and (max-width: 1080px) {
    .frameworks__extend-list-title {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 20px;
    }
  }

  .frameworks__extend-list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;  
    color: #111827;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1080px) {
    .frameworks__extend-list-item {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px;
    }
  }


  .frameworks__extend-list-item:last-of-type {
    margin-bottom: 0;
  }

  .frameworks__description {
    display: none;
  }

  @media screen and (max-width: 690px) {
    .frameworks__description {
      max-width: calc(100% - 10px * 2);
      display: block;
      margin: 0 auto;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 600px) {
    .frameworks__title {
      font-size: 29px;
      margin-bottom: 25px;
    }

    .frameworks__subsection-title {
      font-size: 22px;
      margin-bottom: 25px;
    }
  }
    