.speech {
    background-image: url(../images/articles_background.png);
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 1080px;
    margin: 0 auto 50px;
}

.speech__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #111827;
    margin: 250px 0 0;
}

.iframeVideo {
margin-top: 150px;

}

@media screen and (max-width: 600px) {
    .speech__title {
      font-size: 29px;
    }
  }