.wrapper {
  max-width: 1310px;
  margin: 0 auto 50px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.titleBlock {
  width: fit-content;
  margin-bottom: 100px;
  position: relative;
}

.title {
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #111827;
  margin: 0 0 0 50px;
}

.line {
  position: absolute;
  left: 0;
  width: 300px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.dotlineLeft,
.dotlineRight {
  display: none;
}

.terms {
  list-style-image: url(../images/check_icon.svg);
  padding: 0;
  margin-left: 20px;
}

.term {
  font-weight: 400;
  color: #111827;
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .term {
    font-size: 22px;
    line-height: 29px;
    text-indent: 15px;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .dotlineLeft {
    position: absolute;
    top: 25px;
    right: -60px;
  }

  .dotlineRight {
    position: absolute;
    top: 25px;
    right: -250px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
