.wrapper {
  background-image: url(../images/articles_background.png);
  background-size: contain;
  background-position: center;
  width: 100vw;
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #111827;
  margin: 250px 0 0;
}

.slider {
  margin-top: 150px;
}

.wrapper iframe {
  max-width: 100%;
  top: 0;
  left: 0;
  width: 350px;
  height: 197px;
}

@media screen and (max-width: 600px) {

  .title {
    font-size: 29px;
  }

}
