@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url(./vendor/fonts/fonts.css);

body {
  line-height: 1.7;
}

.App {
  font-family: "Inter", "Arial", sans-serif;
  background-color: #ECF0F3;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --1color: #1D254F;
  --2color: #B39EB5;
  --3color: #93ABCC;
  --4color: #79A2B5;
  --5color: #a5e6ba;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.jobs {
  width: 100%;
  max-width: 915px;
  margin: 0 auto 120px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 60px 1fr;
}

.job {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.job__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #79A2B5;
  margin-bottom: 10px;
}

.job__position {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #111827;
  margin: 0;
}

.job_0 {
  max-width: 227px;
  background-image: url(./images/first_dot_line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 24px 10px 20px 18px;
  box-sizing: border-box;
}

.job_0::before {
  display: block;
  position: absolute;
  top: calc(0% - 20px);
  left: 0;
  height: calc(100% + 20px);
  background-color: var(--4color);
}

.line {
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 60px;
  color: white;
  align-items: center;
  padding-left: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ECF0F3;
}

.line_0 {
  grid-column-start: 1;
  grid-column-end: 2;
  color: white!important;
}

.job_1 {
  padding: 0 10px 55px 22px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}

.job_1::before {
  content: "";
  background-image: url(./images/second_dot_line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 32px;
  width: 240px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.line_1 {
  grid-column-start: 2;
  grid-column-end: 7;
}

.job_2 {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 24px 20px 20px 18px;
  display: grid;
  align-items: flex-end;
  grid-row-start: 3;
  grid-column-start: 5;
  grid-column-end: 8;
}

.job_2::after {
  content: "";
  background-image: url(./images/third_dot_line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 105px;
  width: 240px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 640px) {
  .job_2::after {
    display: block;
  }
}

.job_3 {
  padding: 0 0 55px 0;
  display: grid;
  align-items: flex-end;
  grid-row-start: 1;
  grid-column-start: 7;
  grid-column-end: 10;
}

.job_3::before {
  content: "";
  background-image: url(./images/fourth_dot_line.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 240px;
}

.line_3 {
  display: grid;
  grid-column-start: 8;
  grid-column-end: 10;
}

@media screen and (max-width: 425px) {
  .jobs {
    max-width: calc(100% - 5px * 2);
    margin: 0 auto 50px;
  }

  .job__title {
    font-size: 18px;
    line-height: 1;
  }

  .job__position {
    font-size: 14px;
    line-height: 1;
  }
}

section {
  margin: 50px auto;
}

h3 {
  margin-bottom: 30px;
}

@media screen and (min-width: 640px) {

  .slick-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

}

.slick-slider {
  display: flex;
  justify-content: center;
}

.slick-track {
  margin-right: 0;

  display: flex;
}

.slick-list {
  position: relative;
}

.slick-arrow::before {
  position: absolut;
  right: 0;
  color: #D9D8D3;
  font-size: 45px;
}

.slick-next,
.slick-prev {
  width: 45px;
}

.slick-next {
  right: -50px;
}

.slick-prev {
  left: -50px;
}

.slick-next::before,
.slick-prev::before {
  color: #797875;
}

@media only screen and (max-width: 600px) {
  .framework {
    margin-top: 20px;
  }

  .job_1::before {
    width: 100%;
  }

  .job_3::before {
    width: 100%;
  }

  .line {
    padding-left: 5px;
    font-size: 12px;
  }

  .youtube {
    margin-left: 15px;
    margin-right: 15px;
  }
}
